doctype html
html
    body
        h1 Druga kategorija - Nesigurna pohrana osjetljivih podataka
        hr

        script.
            function setCookie(cname, cvalue, exdays) {
              const d = new Date();
              d.setTime(d.getTime() + ((exdays ?? 1 )* 24 * 60 * 60 * 1000));
              let expires = "expires="+d.toUTCString();
              document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
              let name = cname + "=";
              let decodedCookie = decodeURIComponent(document.cookie);
              let ca = decodedCookie.split(';');
              for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }

            function onSelectedSafety() {
                const isOn = getCookie("2SAFETY-OFF")
                if (isOn === "true") {
                    setCookie("2SAFETY-OFF", "false")
                } else {
                    setCookie("2SAFETY-OFF", "true")
                }
                setCookie("UPDATE", "TRUE")
                location.reload()
            }

        div
          input(type="checkbox" onclick="onSelectedSafety()" name="safety" checked=safetyOff)
          label(for="safety") Ranjivost ukljuÄena

        #data
          if data
            each entry in data
              li
                b #{entry.key}
                span  #{entry.value}
